html, body {
    background-color: #333333 !important;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5)
}

.c-container {
    height: 100vh;
    width: 672px;
    margin: auto;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    padding: 16px;

}

.head-brand {
    font-size: 1.75rem;
    width: 74px;
    color: #ffffff;
    margin-bottom: 0;
}

.masthead {
    margin-bottom: 118px !important;
    width: 640px;
    display: flex;
    justify-content: space-between;
}

nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

nav .nav {
    list-style: none;
    align-items: center;
}

nav a {
    font-size: 1rem;
    padding: 4px 0 4px 0;
    font-weight: 700;
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
}

nav a:hover {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    list-style: none;
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
}

.active-page {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: white;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.active-page:hover {
    color: white;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(255, 255, 255, .5);
}

.homeLink {
    width: 46px;
}

.featuresLink {
    width: 64px;
}

.contactLink {
    width: 58px;
}

.c-main {
    width: 592px;
    padding: 24px 0 24px 0;
    text-align: center;
    margin: auto;
}

h1 .c-heading {
    font-size: 2.5rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;

}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

main .btn-lg {
    padding: .75rem 1.25rem !important;
    font-weight: 700 !important;
}

.btn-secondary {
    color: #333 !important;
    text-shadow: none;
    background-color: #fff !important;
    border: .05rem solid #fff;
}

.btn-group-lg > .btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

footer a {
    color: white;
}

.mastfoot {
    color: rgba(255, 255, 255, .5);
    text-align: center;
    margin-top: 120px;
    padding-bottom: 16px;
}

.map {
    width: 640px;
    height: 400px;
    text-align: center;
    margin: auto;
}

iframe {
    height: 90%;
    width: 90%;
    border: none;
    border-radius: 5px;
}




